.countdown{
    lottie-player{
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }

    &-bar{
        height: 20px;
        background: rgba($offwhite, 0.5);
        border-radius: 50px;
        overflow: hidden;
        &-progress {
            height: 20px;
            border-radius: 50px;
            background: $gold;
            opacity: 1;
            animation: countdown 10s linear;
        }
    }
}

@keyframes countdown {
    0% {
        width: 100%;
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    55% {
        opacity: 1;
    }

    60% {
        opacity: 0.1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0.1;
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 0.1;
    }

    85% {
        opacity: 1;
    }

    90% {
        opacity: 0.1;
    }

    95% {
        opacity: 1;
    }

    100% {
        width: 0;
    }
}